<ion-view view-title="Guia de cultivo">
  <ion-content class="guide">
    <div class="cap-2">
      <div class="item item-title">
        <h3>PLANEJANDO SUA HORTA</h3>
      </div>
      <div class="item item-body">
        <h2 class="text-center title">AMBIENTE</h2>
        <div class="list">
          <a class="item item-thumbnail-left">
            <img src="img/guide/guia-ambiente-1.jpg">
            <h2>TAMANHO</h2>
            <p>você pretende plantar em canteiros, em vasos ou utilizar materiais reciclados como recipientes? Qual o a profundidade e a largura? Pense no tamanho também conforme sua disposição de trabalho, é interessante começar pequeno e crescer sua horta conforme você ganhar mais confiança e conhecimento.</p>
          </a>
          <a class="item item-thumbnail-left">
            <img src="img/guide/guia-ambiente-2.jpg">
            <h2>ACESSO</h2>
            <p>Dê preferência à escolha de um local de fácil acesso e protegido dos animais domésticos. Observe também o ambiente que você frequenta pouco em sua casa ou em sua rua - as plantas tem o poder de trazer vida e ressignificar os espaços.</p>
          </a>
          <a class="item item-thumbnail-left">
            <img src="img/guide/guia-ambiente-3.jpg">
            <h2>LUZ</h2>
            <p>Identifique onde nasce o sol e quantas horas ele incide no local escolhido por dia. O sol bate pela manhã ou pela tarde? A luz é direta ou indireta? Como é a luz nas diferentes épocas do ano? </p>
          </a>
          <a class="item item-thumbnail-left">
            <img src="img/guide/guia-ambiente-4.jpg">
            <h2>ÁGUA</h2>
            <p>Repare na umidade do local escolhido. Prefira locais com uma fonte de água próxima, ou já planeje ter um regador, uma mangueira ou recipientes para transportar água.</p>
          </a>
          <a class="item item-thumbnail-left">
            <img src="img/guide/guia-ambiente-5.jpg">
            <h2>VENTO</h2>
            <p>Repare na direção e na força do vento. Ele te indicará, entre outros fatores, de onde virá a chuva. Ventos fortes e frequentes podem danificar a estrutura da planta, que perderá muita energia engrossando seu caule para evitar o balanço, ao invés de utilizar esta força para crescer e se desenvolver. Você pode amenizar este movimento amarrando a planta a tutores feitos com gravetos, arames ou bambu.</p>
          </a>
        </div>
        <div class="box">
          <h3 class="text-center title">OUTROS ELEMENTOS</h3>
          Preste atenção nas outras plantas e seres já presentes no local. Você reconhece as outras espécies? Parecem fortes? Felizes? Fazem sombra? Repare em como elas interagem com este ambiente. Existem abelhas ou insetos no local? Busque também perceber outros elementos presentes no espaço, eles podem se transformar em recursos valiosos para sua horta.
        </div>
        <h2 class="text-center title">MATERIAIS</h2>
        <p>Comece a montagem separando os materiais que você irá utilizar. Materiais necessários:</p>
        <ol>
          <li>
            <h4>Recipientes</h4>
            <p>Limpe e/ou prepare o local onde irá plantar (vasos, recipientes reciclados, jardineiras, etc.)</p>
          </li>
          <li>
            <h4>Subtrato</h4>
            <p>Terra, composto, areia, argila expandida / cacos de telha / madeira porosa, bidim ou camiseta velha (para fazer uma camada de drenagem)</p>
          </li>
          <li>
            <h4>Plantas</h4>
            <p>Sementes, mudas ou estacas das plantas que você deseja cultivar.</p>
          </li>
          <li>
            <h4>Ferramentas</h4>
            <p>Utilize o que você tiver em mãos para lhe ajudar no trabalho com a terra: pá, colheres, regador, etc.</p>
          </li>
        </ol>
        <div class="tip">
          <h3 class="text-center title">
            DICA
          </h3>
          <p>Investigue quais recursos você já possui ou como pode encontrar nas proximidades de sua casa. Recorra às lojas especializadas somente para comprar o que for muito necessário. A cidade é um lugar riquíssimo em recursos gratuitos. Use sua criatividade para dar novos significados e usos ao que já existe e muitas vezes é descartado como “lixo”. Reciclar e reutilizar são partes fundamentais deste processo!</p>
        </div>
        <h2 class="text-center title">RECIPIENTES</h2>
        <p>São infinitas as possibilidades de recipiente para o plantio. Tudo depende do tipo de planta que deseja cultivar e do que houver disponível em sua casa.</p>
        <p>Se for utilizar vasos prontos, dê preferência ao feitos com barro/cerâmica aos feitos com plástico, pois preservam melhor a umidade e a temperatura. Porém, existem diversos materiais reutilizados que funcionam bem para o plantio doméstico, como garrafas pet, pneus, baldes, tubos de pvc, caixas de feira ou até panelas velhas e sapatos. Faça uma busca pela internet para se inspirar e colher idéias. Mas, principalmente, use sua imaginação.</p>
        <div class="img-wrapper"><img src="img/guide/guia-recipientes.png"></div>
        <div class="tip">
          <h3 class="text-center title">
            DICAS
          </h3>
          <p>Caso utilize vaso de cerâmica, deixe-o imerso em água por 24h antes do plantio. Este processo de ‘cura’ faz com que o vaso não puxe tanta água e nutrientes da terra.</p>
          <p>Em muitos casos, as raízes desenvolvem um formato condizente com o desenho da planta que enxergamos acima do solo. Portanto, tente observar plantas crescidas e entender as formas. Mas esta não é uma regra geral. Assim, sempre vale uma breve pesquisa por imagens da planta inteira na internet.</p>
        </div>
        <h2 class="text-center title">O SOLO</h2>
        <p>Você vai precisar recriar a estrutura do solo no recipiente que escolheu para plantar.</p>
        <div class="img-wrapper"><img src="img/guide/guia-o-solo-1.png"></div>
        <ol>
          <li>
            <h4>01. MATÉRIA ORGÂNICA</h4>
            <p>A cobertura de matéria orgânica (folhas secas, cascas de árvore, palha), tem o papel de proteger o solo da exposição ao sol, vento e chuva, evitando que água e nutrientes sejam perdidos através da evaporação. Além disso, essa matéria irá se decompor em partículas menores e, com o passar do tempo, formar a camada seguinte.</p>
          </li>
          <li>
            <h4>02. HÚMUS</h4>
            <p>A camada de húmus é a maior fonte de nutrientes do solo e deve ser constantemente alimentada. É também aonde se concentram boa parte dos microrganismos que trabalham para decompor toda a matéria orgânica até se tornarem acessíveis às plantas através das raízes. Para formar esta camada, misture o composto extraído do seu minhocário com um pouco de carvão triturado e areia.</p>
          </li>
          <li>
            <h4>03. AREIA</h4>
            <p>A areia, além de carregar diversos minerais, tem a função de ajudar na drenagem do solo e evitar a compactação.</p>
          </li>
          <li>
            <h4>04. PEDRA</h4>
            <p>A camada de pedra tem a função de dar sustentação ao solo e facilitar na continuação da drenagem da água. Utilize uma manta Bidim ou pedaço de tecido (pode ser uma camiseta velha) sobre essa camada, para evitar que as pequenas partículas da camada de cima escorram aos poucos para fora do vaso ou entupam os furos de drenagem.</p>
          </li>
          <li>
            <h4>05. LENÇOL FREÁTICO</h4>
            <p>A camada de pedra tem a função de dar sustentação ao solo e facilitar na continuação da drenagem da água. Utilize uma manta Bidim ou pedaço de tecido (pode ser uma camiseta velha) sobre essa camada, para evitar que as pequenas partículas da camada de cima escorram aos poucos para fora do vaso ou entupam os furos de drenagem.</p>
          </li>
        </ol>
        <div class="img-wrapper"><img src="img/guide/guia-o-solo-2.png"></div>
      </div>
    </div>
  </ion-content>
</ion-view>